body {
  font-family: Arial, sans-serif;
  background: #F1F3E0;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.container {
  background: #D2DCB6;
  padding: 25px;
  width: 350px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
color: #ffffff;
}

.input-section {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px 12px;
  background: #778873;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #778873;
}

li {
  list-style: none;
  padding: 8px;
  margin-top: 10px;
  background: #F1F3E0;
  display: flex;
  justify-content: space-between;
}

.delete {
  background: #778873;
  color: white;
  border: none;
  cursor: pointer;
  padding: 3px 6px;
}